In [ ]:
# Lab 3 - Group 5
## Setup
import sys
assert sys.version_info >= (3, 5)
# Python ≥3.5 is required

In [ ]:
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request

from sklearn import preprocessing
from sklearn import utils

In [ ]:
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
# Get the data
walmart = pd.read_csv("walmart-sales-dataset-of-45stores.csv")

In [ ]:
walmart_1 = walmart[["Store", "Weekly_Sales"]]
walmart_1.head(5)

   Store  Weekly_Sales
0      1    1643690.90
1      1    1641957.44
2      1    1611968.17
3      1    1409727.59
4      1    1554806.68

In [ ]:
walmart_2 = walmart[["Store", "Unemployment", "Fuel_Price"]]
walmart_2.head(5)

   Store  Unemployment  Fuel_Price
0      1         8.106       2.572
1      1         8.106       2.548
2      1         8.106       2.514
3      1         8.106       2.561
4      1         8.106       2.625

In [ ]:
walmart_3 = walmart[["Store", "Holiday_Flag", "Fuel_Price", "Weekly_Sales"]]
walmart_3.head(5)

   Store  Holiday_Flag  Fuel_Price  Weekly_Sales
0      1             0       2.572    1643690.90
1      1             1       2.548    1641957.44
2      1             0       2.514    1611968.17
3      1             0       2.561    1409727.59
4      1             0       2.625    1554806.68

In [ ]:
walmart_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Holiday_Flag  6435 non-null   int64
 2   Fuel_Price    6435 non-null   float64
 3   Weekly_Sales  6435 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 201.2 KB

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     walmart_3[["Store", "Holiday_Flag", "Fuel_Price"]], y, random_state=None)

In [ ]:
type(y_train)

pandas.core.frame.DataFrame

In [ ]:
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y_train)

/Applications/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_transformed

array([ 804, 1860, 2799, ..., 2617,  736, 3959])

In [ ]:
#classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2) # creat an object knn (your model)

In [ ]:
knn.fit(X_train, y_transformed) # train your classifier using the training  set (features X-train & output labels y-train)
# model represention changes after learning

KNeighborsClassifier(n_neighbors=2)

In [ ]:
y_pred = knn.predict(X_test)  # evaluate the model on your test data 
print("Test set predictions:\n", y_pred) # print out the predictions for the test data

Test set predictions:
 [3251 3035 3593 ... 3690 1386 3893]

In [ ]:
print("Test set score: {:.2f}".format(knn.score(X_test, y_transformedTest))) # evaluate the accuracy  of your classifier 
# the score function computes the success

Test set score: 0.00

In [ ]:
y_scores = np.mean(y_pred == y_transformedTest)
print("Test set score" + y_scores)
#print("Test set score: {:.2f}".format(np.mean(y_pred == y_transformedTest))) # you can also compute the accuracy manually (without score function)

Test set score: 0.00

In [ ]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(y_transformed, y_pred, labels=[0, 1]).ravel()
print(tn, fp, fn, tp)

In [ ]:
y_true = (tp/(tp + fn)) # calculating the sensitivity / how many real True cases are detected
print(y_true)

In [ ]:
from sklearn.metrics import precision_score
precision_score(y_true, y_pred, average='macro')

In [ ]:
from sklearn.metrics import roc_curve
fpr, tpr, thresholds = roc_curve(y_train_5, y_scores)

def plot_roc_curve(fpr, tpr, label=None):
    plt.plot(fpr, tpr, linewidth=2, label=label)
    plt.plot([0, 1], [0, 1], 'k--') 
    plt.axis([0, 1, 0, 1])                                   
    plt.xlabel('False Positive Rate (Fall-Out)', fontsize=16) 
    plt.ylabel('True Positive Rate (Recall)', fontsize=16)   
    plt.grid(True)                                            


# need to accurately plot values for roc curve here


plt.figure(figsize=(8, 6))                      
plot_roc_curve(fpr, tpr)

plt.show()

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_train, y_scores)

In [ ]:
from sklearn.metrics import precision_score
y